<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2>Hi {{name}}</h2>

    <p>
        Welcome to WordCloud, we are so happy to have you.
        Word Cloud is a game where you can have <strong>fun</strong>, make <strong>friends</strong> and
        <strong>learn</strong>
        all three at the same time.
    </p>
    <p>If you have any problems, suggestions,
        etc, please be free to contact us at <a href="mailto:ping@aurictouch.com">Customer Support</a></p>
    <p>Regards <br> Auric Touch </p>
</body>

</html>