<h1>Forgot Password</h1>
<p>Please click on the button to reset your password</p>
<br><br>
<a href="{{link}}">Reset Password</a>
<br>
<p>Or copy the following link and view in the email</p>
<a href="{{link}}">{{link}}</a>